@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

*{
    border: 0px;
    margin: 0;
    padding: 0;
}
.container{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #C0C0C0;
}

.titulo p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #E1E1E1;
    font-size: 48px;
    padding: 20px;
}

.titulo{
    text-align: center;
    display: grid;
    height: auto;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.box{
    height: auto;
    width: auto;
    display: grid;
    text-align: center;
}

.container-horario header{
    padding: 2px 10px 2px 10px;
    color: black;
    background-color: #A5A1A1;
    font-size: 40;
}

.container .box .container-horario{
    font-size: 48px;
    display:grid;
    grid-gap: 20px;
    outline: 0;
    grid-template-columns: repeat(4,4fr);
}

.minutos, .horas, .segundos, .dias{
    padding: 20px;
    color: white;
    background-color: black;
}

@media(max-width: 700px){

    body{
        background-color:#A5A1A1;
    }
    
    .titulo p{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #E1E1E1;
        font-size: 18px;
        padding: 20px;
    }
    
    .container-horario header{
        font-size: 16;
    }
    
    .container .box .container-horario{
        font-size: 18px;
        grid-gap: 8px;
        grid-template-columns: repeat(2,4fr);
    }
    
    .minutos, .horas, .segundos, .dias{
        padding: 20px;
    }
}